.analog-clock
{
    width: 100%;
    aspect-ratio: 1/1;
    /* border: 8px solid var(--third-color); */
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/cadran_afci.png");
    background-size: 100% 100%;
    & .hand
    {
        position: absolute;
        bottom: 50%;
        left: 50%;
        translate: -50% 0;
        transform-origin: bottom center;
        background-color: var(--third-color);
        opacity: 0.5;
        &.hours
        {
            width: 4%;
            height: 25%;
            border-radius: 6px;
        }
        &.minutes
        {
            width: 3%;
            height: 35%;
            border-radius: 4px;
        }
        &.seconds
        {
            width: 2%;
            height: 45%;
            border-radius: 2px;
        }   
    }
    & .dot
    {
        width: 8%;
        aspect-ratio: 1/1;
        background-color: var(--third-color);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }
}