@import url("/css/variables.css");
@import url("./clock.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    font-size: var(--font-size);
}
body
{
    height: 100dvh;
    background-color: var(--main-color);
    overflow: hidden;
}
.container
{
    height: 100%;
    padding: 20px;
}
#cell-list
{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(10dvh, 1fr));
    height: 100%;
    & li
    {
        list-style: none;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        padding: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        &.cell-item
        {
            background-color: var(--third-color);
            border: 5px solid var(--secondary-color);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--secondary-color);
            box-shadow: 0 0 8px var(--third-color);
            text-align: center;
            font-family: "Comic Sans MS", cursive, sans-serif;
            animation: shadow-pulse 10s infinite alternate;
            position: relative;
            &:has(img)
            {
                padding: 0;
                & .cell-name
                {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.7);
                    padding: 4px;
                    border-radius: 5px;
                }

            } 

            & img
            {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
        &.mainCell
        {
            grid-area: 2/2/3/3;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            align-items:center;
            height: 100%;
            
            & img 
            {
                aspect-ratio: 1/1;
                border-radius: 50%;
                width: 100%;
                object-fit: contain;
            }
            & .clock
            {
                width: 100%;
                aspect-ratio: 1/1;
                /* border: 8px solid var(--third-color); */
                border-radius: 50%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                background-image: url("../images/cadran.png");
                background-size: 100% 100% ;
            }
            & .time, .date
            {
                margin-left: 20px;
                font-size: 2rem;
                font-weight: bold;
                color: var(--third-color);
                font-family: "Comic Sans MS", cursive, sans-serif;
                text-align: center;
            }   
        }
    }
}

@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 1px var(--third-color);
    }
    50% {
        box-shadow: 0 0 16px var(--third-color);
    }
    
}