*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100dvh;
    background-color: var(--main-color);
    overflow: hidden;
    font-family:sans-serif; 
    padding:20px;
}