/* @import url("http://localhost:3000/css/variables.css"); */
/* TODO, ne pas passer par le serveur */
@import url("./reset.css");
@import url("./dashboard.css");
@import url("./cellsForm.css");
@import url("./mainCellForm.css");
@import url("./configForm.css");
