
<form id="configForm">
    <label for="color1">Couleur de fond de l'application :</label>
    <input type="color" id="color1" name="first_color">
    <label for="color2">Couleur de bordure et du texte :</label>
    <input type="color" id="color2" name="second_color">
    <label for="color3">Couleur de fond des cellules :</label>
    <input type="color" id="color3" name="third_color">
    <label for="fontSize">Taille de la police :</label>
    <input type="number" id="fontSize" name="font_size" min="10" max="30">
</form>
<button id="backBtn" data-page="dashboard">Retour</button>